footer.footer {
    background-color: #343434;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}
.navigation__menu-title {
    color: #fff;
    font-size: 2rem;
    margin: 0 0 1.5rem;
    font-weight: 500;
}
.navigation__menu-list {
    margin: 0;
    padding: 0;
}
.navigation__menu-list li {
    display: block;
    margin: 0 0 10px;
}
.navigation__menu-list li a {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: var(--theme-font-family);
    text-transform: capitalize;
}

input.newsletter__email {
    width: 100%;
    height: 70px;
    background-color: var( --theme-primary-dark);
    border: none;
    padding: 13px 132px 12px 12px;
    outline: none;
    box-shadow: none;
}
.newsletter__block {
    position: relative;
    width: 100%;
    margin: 0 0 2rem;
}
button.newsletter__button {
    position: absolute;
    right: 0;
    width: 120px;
    height: 70px;
    background-color: var( --theme-secondary);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    border: none;
}
.newsletter__button img {
    width: 30px;
}
.footer__logo-block p {
    width: 100%;
    text-align: right;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
}
.footer__logo-block h2 {
    color: #fff;
    width: 100%;
    text-align: right;
    font-size: 2.3rem;
    font-weight: 600;
}
.footer__logo-block {
    width: 100%;
    margin-bottom: 2.5rem;
}
ul.social__media__list {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
}
.social__media__list li {
    margin-left: 1.5rem;
    display: inline-block;
}
.social__media__list li a {
    display: block;
    width: 45px;
    height: 45px;
}